:root {
    --font-family:Montserrat;
    --font-bold:700;
    --font-medium:500;
    --font-regular:400;
    --sidebar-background: linear-gradient(180deg, #8892FF 0%, #6D6BE5 18.75%)
    --navbar-height:45px;
    --page-height:100vh;


    --secondary-text-color:#EDF2FF
}