.mainWrapper {
  position: absolute;
  height: var(--page-height);
  display: flex;
  justify-content: center;
  width: 100%;
}
.mainContent {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 70px;
}
.textDescription {
    width: var(--sideBar-width);

}
.form {
    display: flex;
    flex-shrink: 2;
    margin-right: 200px;
} 